@import url("https://fonts.googleapis.com/css2?family=Kristi&display=swap");

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
	font-weight: 500;
	color: #646cff;
	text-decoration: inherit;
}
a:hover {
	color: #535bf2;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

h1 {
	font-size: 5.6rem;
	line-height: 1;
	font-family: Kristi, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;
	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.App {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

form {
	display: flex;
	justify-content: center;
	gap: 1rem;
	flex-direction: column;
	width: 80%;
	align-items: center;
	margin: 0 auto;
	@media (min-width: 800px) {
		width: 50%;
	}
}

form * {
	width: 100%;
}

form input {
	padding-block: 1rem;
	text-align: center;
}

header {
	background-image: linear-gradient(to top, #213547, #192c3e);
	padding-block: 1rem 2rem;
	width: 100vw;

	@media (min-width: 800px) {
		width: min(70vw, 1000px);
	}
}

.uselessButton {
	display: none;
}

.weather {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	/* height: 20rem; */
	/* height: 400px; */

	@media (min-width: 1100px) {
		flex-direction: row;
		margin-top: 2rem;
	}
}

.overview {
	background-color: #1a1a1a;
	/* padding: 1rem 2rem; */
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	box-sizing: border-box;
	flex-grow: 1;

	@media (min-width: 800px) {
		/* width: 50%; */
		overflow: hidden;
		border: 12px rgb(37, 69, 83) solid;
	}
}

.locationInfo {
	font-size: 3rem;
}

.weatherIcon {
	width: 120px;
}

.temperatureInfo {
	font-size: 2rem;
	/* margin-bottom: 5rem; */
}

.lds-dual-ring,
.lds-dual-ring:after {
	box-sizing: border-box;
}
.lds-dual-ring {
	display: inline-block;
	width: 80px;
	height: 80px;
}
.lds-dual-ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6.4px solid currentColor;
	border-color: currentColor transparent currentColor transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.overviewLocation {
	display: flex;
	flex-direction: column;
}

.li-name {
	line-height: 1;
	margin-block: 2rem;
}

.stateAndCountry {
	display: flex;
	color: cadetblue;
	justify-content: center;
	font-size: 1rem;
}

.stateAndCountry > * {
	font-size: 1rem;
	margin-top: -1rem;
}

.info {
	display: flex;
	flex-direction: column;
	/* background-color: #f9f9f9; */
	color: white;
	height: 100%;
	flex-grow: 1;
	justify-content: space-evenly;
	background-color: #2032416e;
	width: 100%;
	line-height: 1;

	@media (min-width: 800px) {
		/* margin-right: 3rem; */
		align-items: flex-end;
		width: 100%;
		height: 400px;
		/* border-right: #213547 2px solid; */
	}
}

.info > p {
	@media (min-width: 800px) {
		margin-right: 2rem;
	}
}

.info > p:last-child {
	@media (max-width: 800px) {
		margin-bottom: 2rem;
	}
}

@media (min-width: 800px) and (max-width: 1100px) {
	.weather {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	.weather div:last-child {
		grid-column: span 2;
	}
}

.geo {
	display: flex;
	/* flex-direction: column; */
	border-bottom: #f9f9f946 2px solid;
	font-size: 1.2rem;
	justify-content: flex-end;
	align-items: end;
	color: #ddd;
	gap: 1rem;
	margin: 1rem auto;
	padding-inline: 1rem;

	@media (min-width: 800px) {
		border: #f9f9f946 2px solid;
		align-items: flex-end;
	}
}

.lastSearchedDiv {
	padding: 1rem;
	margin: 0;
}

.lastSearchedDiv a {
	cursor: pointer;
}

.weatherLoading {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 8rem;
}

main {
	flex-grow: 1;
	width: 100%;

	@media (min-width: 800px) {
		width: min(70vw, 1000px);
	}
}

.nothingEntered {
	margin: 3rem auto;
	width: max(300px, 60%);
	color: rgb(137, 151, 156);
	display: flex;
}

.nothingEntered div:last-child {
	gap: 1rem;
}

footer {
	background-image: linear-gradient(to bottom, #213547, #192c3e);
	/* padding-block: 1rem; */
	width: 100vw;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (min-width: 800px) {
		width: min(70vw, 1000px);
	}
}

.tag {
	margin-left: 2rem;
	font-family: Kristi, Haettenschweiler, "Arial Narrow Bold", sans-serif;
	font-size: 2rem;
}

.links {
	display: flex;
	/* border: 2px black solid; */
	/* justify-content: center; */
	margin-inline: 1.6rem;
}

.links ul {
	/* border: 2px black dotted; */
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.6rem;
}

.links img {
	width: 40px;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #e9b7b7;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}

	.App header {
		background-image: linear-gradient(to top, #aaacda, #9092c4);
	}

	footer {
		background-image: linear-gradient(to bottom, #aaacda, #9092c4);
	}

	.overview {
		background-color: #d8ca8d;

		p {
			color: #213547;
		}

		@media (min-width: 800px) {
			border: 15px rgb(88, 142, 167) solid;
		}
	}

	.info {
		background-color: #d88db9;
	}

	.nothingEntered {
		color: rgb(55, 58, 59);
	}
}
